* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: #444;
    background-color: #f3f3f3;
    height: 100vh;
    padding: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.welcome {
    font-size: 1.5rem;
    font-weight: 500;
}

.logo {
    height: 3.5rem;
}

.login {
    display: flex;
}

.login-input {
    border: none;
    border-radius: 1rem;
    width: 6.7rem;
    margin-right: 0.5rem;
    padding: 0.3rem 1.5rem;
    font-size: 1rem;
    font-family: inherit;
    color: inherit;
    text-align: center;
    transition: all 0.3s;
}

.login-input:focus {
    border: 1px solid #ccc;
    outline: none;
}

.login-input::placeholder {
    color: #bbb;
}

.login-btn {
    border: none;
    background: none;
    cursor: pointer;
    color: #777;
    font-size: 1.3rem;
    transition: all 0.3s;
}

.login-btn:hover {
    color: inherit;
}

/* -------------------------------------------- */
.app {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1.5rem;
}

.balance {
    display: flex;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 3;
}

.transactions {
    grid-row-start: 2;
    grid-row-end: 5;
}